<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    
</head>

<body>
    <h1>{{title}}</h1>

    <h1>{{name}}</h1>

    <form id="loginForm">
        <input id="email">
        <input id="password">
        <button id="login">Log In</button>        
    </form>

    <script src="js/app.js"></script>
</body>

</html>